
body {
}

.auth-card {
    width: 50%;
    margin: 0 auto;
}

.auth-form {
    background-color: white;
}

.auth-form .form-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.auth-form label {
    text-align: left;
}


.auth-form button {
    width: 100%;
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d;
    padding: 10px 0px;
    font-size: 1.2em;
    
}

 .card-header.auth-form{
    background-color: #000;
    color: #FFF;
}

.auth-form-btn {
    width: 90%;
    margin: 0 auto;
}

